html,
body {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

canvas {
  position: relative;
  z-index: 2;
}

.text-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  pointer-events: none;
  z-index: 1;
}